/* Reset de estilos para evitar inconsistências */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
   
    height: 100vh;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    position: fixed;
    margin-top: 190px;
    margin-left: 500px;
}

.container li{
    list-style: none;
    margin: 20px;
}


h1 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
    font-size: 2em;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #007BFF;
    background-color: #f4f8ff;
    color: #333;
    transition: border 0.3s ease;
}

.search-container input:focus {
    border: 1px solid #0056b3;
    outline: none;
}

.lista-alunos ul {
    list-style-type: none;
    padding: 0;
   
}

.lista-alunos li {
    background-color: #f7f7f7;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

.lista-alunos li:hover {
    transform: scale(1.02);
}

.aluno-info {
    font-size: 16px;
    color: #333;
}

.button-container {
    display: flex;
    gap: 16px; /* Espaçamento uniforme entre os botões */
  
    
}

button {
    background-color: #007BFF;
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
        margin-right: 16px; /* Adiciona 10px de espaço à direita de cada botão */

}
button:not(:last-child) {
    margin-right: 20px; /* Aplica espaçamento à direita de todos, exceto o último */
}

button:hover {
    background-color: #0056b3;
}

.whatsapp-button {
    background-color: #25D366;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

/* Modal para exibir os dados do aluno */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.6em;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease;
}

.modal-content input:focus,
.modal-content select:focus {
    border: 1px solid #007BFF;
    outline: none;
}

.modal-content button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #0056b3;
}

/* Modal para exibir contrato assinado */
#contractModal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#contractModal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    overflow-y: auto;
}

#contractModal button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#contractModal button:hover {
    background-color: #0056b3;
}

#contractText {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 20px;
    font-size: 14px;
    color: #333;
}

.edit-button{
    margin-left: 10px;
}